.heading{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction:column;
    gap: 1.875rem;
}


.heading h1{
    font-size: 40px;
    font-weight: 600;
    color: #39373A;
}

.under_line{
    width: 70px;
    height: 5px;
    background-color: #39373A;
    margin-top: -10px;
}

.heading p{
    font-size: 23px;
    font-weight: 600;
    color: #636164;
}