@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  width: 1440px;
  margin: 0 auto;    
  padding-top: 34px;
  border: 3px solid red;
  padding-left: 7.5rem; 
  padding-right:7.5rem;
  margin-bottom: 300px;
}


/* NOTES

margin: 0 auto;

opar or neechy se 0px margin do or right left se auto rakho matlab ke agr meri screen choti ya bari hoti hai to
uske hisab se right left auto margin ki wajah se item center mein rhega. 


padding-left: 120px; => padding-left: 7.5rem;

download extension in VS code (px to rem & rpx & vw (cssrem)) ye extension (Pixels) ko (Rem) mein convert karti hai
(rem) ka sab se bara faida ye hai ke ye responsive hoti hai, 
pixel ko rem mein convert karne ka tariqa click on text and then press (alt + Z) to ye convert ho jaega.

*/